@import "tailwindcss";

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@theme {
    --font-montserrat: "Montserrat", sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    scrollbar-width: none;
}

.pl-home-section1 {
    padding-left: calc(((100% - 1440px) / 2) + 180px);
}

input::-ms-reveal,
input::-ms-clear {
    display: none;
}

@keyframes grow-shrink {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.animate-grow-shrink {
    animation: grow-shrink 1.5s ease-in-out infinite;
}